{
  "presets": [
    "react-app"
  ],
  "plugins": [
    [
      "import", // antd 按需加载
      {
        "libraryName": "antd",
        "libraryDirectory": "es",
        "style": true
      }
    ]
  ]
}
